@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'NTR';
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: #c9ebe5;
    user-select: none;
    padding-top: 60px; /* เพิ่ม padding-top เท่ากับความสูงของ header */
}
header {
    position: fixed; /* ทำให้ Header อยู่ด้านบนเมื่อเลื่อนหน้าจอ */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #f1d5f0; /* สีม่วงอ่อนตามเดิม */
    padding: 3px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100px; /* กำหนดความสูงของส่วนหัว */
}

header .Izurina {
    color: #fff; /* สีขาวตามเดิม */
    font-weight: bolder;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}

header ul {
    display: flex;
    justify-items: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff; /* สีขาวตามเดิม */
    border-radius: 15px;
    font-size: 1.1rem;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #f77df3; /* สีชมพูตามเดิม */
}

/*SocialMediaButton*/
.icon
{
    color: #526597;
}
.button a
{
    text-decoration: none;
}
.wrapper
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.social-wrapper .button
{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #ffdeef;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:hover
{
    width: 200px;
}
.social-wrapper .button .icon
{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:nth-child(1):hover .icon
{
    background: #4267B2;
}
.social-wrapper .button:nth-child(2):hover .icon
{
    background:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.social-wrapper .button:nth-child(3):hover .icon
{
    background: #505255;
}
.social-wrapper .button:nth-child(4):hover .icon
{
    background:#000;
}
.social-wrapper .button:nth-child(5):hover .icon
{
    background: #ff0000;
}
.social-wrapper .button .icon i
{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:hover .icon i
{
    color: #fff;
}
.social-wrapper .button span
{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:nth-child(1) span
{
    color: #4267B2;
}
.social-wrapper .button:nth-child(2) span
{
    color: #E1306C;
}
.social-wrapper .button:nth-child(3) span
{
    color: #505255;
}
.social-wrapper .button:nth-child(4) span
{
    color: #000;
}
.social-wrapper .button:nth-child(5) span
{
    color: #ff0000;
}
.social-wrapper .button:nth-child(6) span
{
    color: #000;
}

/*timeline*/
:root {
  --white: #fff;
  --black: #323135;
  --crystal: #a8dadd;
  --columbia-blue: #cee9e4;
  --midnight-green: #01565b;
  --yellow: #e5f33d;
  --timeline-gradient: rgba(206, 233, 228, 1) 0%, rgba(206, 233, 228, 1) 50%,
    rgba(206, 233, 228, 0) 100%;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  padding: 50px 0;
}

.section .container {
  width: 82vw;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}

.section h2 {
  font-size: 1.3rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  position: relative;
  white-space: nowrap;
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 20px;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100px;
  z-index: 2;
}

.timeline::after {
  right: 0;
}

.timeline::before {
  left: 340px;
}

.timeline .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  color: #526597;
  background: #ffdeef;
  white-space: normal;
  border-radius: 10px;
}

.timeline .info p {
  font-size: 20px;
  color: #526597;
}

.timeline .info a {
  text-decoration: none;
}

.timeline ol::-webkit-scrollbar {
  height: 10px;
}

.timeline ol::-webkit-scrollbar-thumb,
.timeline ol::-webkit-scrollbar-track {
  border-radius: 92px;
}

.timeline ol::-webkit-scrollbar-thumb {
  background: #ffdeef;
}

.timeline ol::-webkit-scrollbar-track {
  background: #fff;
}

.timeline ol {
  font-size: 0;
  padding: 300px 0;
  transition: all 1s;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-color: #ffdeef #fff;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 5px;
  background: var(--white);
  scroll-snap-align: start;
}

.timeline ol li:last-child {
  width: 340px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #526597;
  z-index: 1;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: var(--black);
  background: var(--white);
  border-radius: 0 10px 10px 10px;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: var(--white) transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--white);
}

.timeline time {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #526597;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 800px) {
  .timeline {
    display: block;
  }

  .timeline::before,
  .timeline::after {
    width: 50px;
  }

  .timeline::before {
    left: 0;
  }

  .timeline .info {
    display: none;
  }
}

/*footer*/

.footer
{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1d5f0;
    color: #fff;
    text-align: center;
}
/*work*/

/*
Responsive HTML Table With Pure CSS - Web Design/UI Design

Code written by:
👨🏻‍⚕️ Coding Design (Jeet Saru)

> You can do whatever you want with the code. However if you love my content, you can **SUBSCRIBED** my YouTube Channel.

🌎link: www.youtube.com/codingdesign 
*/

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
@media print {
.table, .table__body {
overflow: visible;
height: auto !important;
width: auto !important;
}
}

/*@page {
  size: landscape;
  margin: 0; 
}*/


main.table {
  width: 50vw;
  height: 50vh;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}


.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}


table {
  width: 100%;
}


table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d0dfd6fe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}


.click {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.click {
  background-color: #ffdeef;
  color: #fff;
}




@media (max-width: 1000px) {
  main.table {
    height: 50vh;
    
  }
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}


