@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'NTR';
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: #c9ebe5;
    user-select: none;
}
header
{
    position: sticky;
    top: 0; left: 0; right: 0;
    width: 100%;
    background: #f1d5f0;
    padding: 3px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .Izurina
{
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}
header ul
{
    display: flex;
    justify-items: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 15px;
    font-size: 1.1rem;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #f77df3;
}

/*SocialMediaButton*/
.icon
{
    color: #526597;
}
.button a
{
    text-decoration: none;
}
.wrapper
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.social-wrapper .button
{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #ffdeef;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:hover
{
    width: 200px;
}
.social-wrapper .button .icon
{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:nth-child(1):hover .icon
{
    background: #4267B2;
}
.social-wrapper .button:nth-child(2):hover .icon
{
    background:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.social-wrapper .button:nth-child(3):hover .icon
{
    background: #505255;
}
.social-wrapper .button:nth-child(4):hover .icon
{
    background:#000;
}
.social-wrapper .button:nth-child(5):hover .icon
{
    background: #ff0000;
}
.social-wrapper .button .icon i
{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:hover .icon i
{
    color: #fff;
}
.social-wrapper .button span
{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:nth-child(1) span
{
    color: #4267B2;
}
.social-wrapper .button:nth-child(2) span
{
    color: #E1306C;
}
.social-wrapper .button:nth-child(3) span
{
    color: #505255;
}
.social-wrapper .button:nth-child(4) span
{
    color: #000;
}
.social-wrapper .button:nth-child(5) span
{
    color: #ff0000;
}

/*footer*/

.footer
{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1d5f0;
    color: #fff;
    text-align: center;
}
/*calendar*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

:root {
  --color-accent: #526597;
  --background-color: #f8f7fa;
  --foreground-color: #ffffff;
  --text-color: #526597;
  --highlight-text-color: var(--text-color);
  --active-text-color: #f8f7fa;
  --inactive-text-color: #a5a5a5;
  --btn-bg: #f8f7fa;
  --box-shadow: #efefef;

  --border-width: 1px;
  --border-radius: 15px;
  --spacing: 18px;
}



.card {
  width: 316px;
  height: fit-content;
  background-color: var(--foreground-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px var(--box-shadow);
}

.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 15px;
  border-bottom: var(--border-width) solid var(--box-shadow);
}

.calendar-toolbar > .current-month {
  font-size: 20px;
  font-weight: bold;
  color: var(--highlight-text-color);
}

.calendar-toolbar > [class$="month-btn"] {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: var(--highlight-text-color);
  background: var(--btn-bg);
  border: none;
  border-radius: var(--border-radius);
}

.weekdays,
.calendar-days {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--spacing);
}
.weekdays {
  padding-top: 12px;
}
.calendar-days {
  padding-bottom: 12px;
}

.weekday-name,
[class$="-day"] {
  width: 40px;
  height: 40px;
  color: var(--text-color);
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  font-size: 1rem;
}

.weekday-name {
  color: var(--highlight-text-color);
  font-weight: 700;
}

.current-day {
  background-color: var(--color-accent);
  color: var(--active-text-color);
  border-radius: var(--border-radius);
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.padding-day {
  color: var(--inactive-text-color);
  user-select: none;
}

.calendar-toolbar > [class$="month-btn"]:hover,
.month-day:hover,
.btn:hover {
  border-radius: var(--border-radius);
  background-color: var(--btn-bg);
  color: var(--color-accent);
  border-radius: var(--border-radius);
  transition: 0.1s;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1.5px var(--color-accent);
}

.calendar-toolbar > [class$="month-btn"]:focus,
.month-day:focus,
.btn:focus {
  border-radius: var(--border-radius);
  background-color: var(--color-accent);
  color: var(--active-text-color);
}

.goto-buttons {
  border-top: var(--border-width) solid var(--box-shadow);
  padding: var(--spacing) 0;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background: var(--btn-bg);
  border: none;
  border-radius: var(--border-radius);
  padding: 11px 13px;
  color: var(--highlight-text-color);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 1px;
  box-shadow: 0px 0px 0px var(--box-shadow);
}



/*event card*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --purple: #526597;
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: #526597;
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  
  .description {
    white-space: wrap;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .wrap {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
  }
  
  .box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  .box-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 20%;
  }
  
  .title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
  
  .bttn {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
  }
  
  .bttn:hover {
    background: var(--purple);
  }
  
  .fill-one {
    background: var(--light-bg);
  }
  
  .fill-two {
    background: var(--pink);
  }
  
  /* RESPONSIVE QUERIES */
  
  @media (min-width: 320px) {
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    
  }
  
  @media (min-width: 460px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    
  }
  
  @media (min-width: 640px) {
    .box {
      flex-basis: calc(50% - 12px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }

  }
  
  @media (min-width: 840px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

  }
  
  @media (min-width: 1024px) {
    .box {
      flex-basis: calc(33.3% - 16px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
  }
  
  @media (min-width: 1100px) {
    .box {
      flex-basis: calc(25% - 18px);
    }
  }
  
