@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'NTR';
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#A7C8FF,#D6E4FC);
    user-select: none;
}
header
{
    position: sticky;
    top: 0; left: 0; right: 0;
    width: 100%;
    background: #0B244E;
    padding: 3px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .Izurina
{
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}
header ul
{
    display: flex;
    justify-items: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 15px;
    font-size: 1.1rem;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #0B244E;
}
/*SocialMediaButton*/
.icon
{
    color: #0B244E;
}
.button a
{
    text-decoration: none;
}
.wrapper
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.social-wrapper .button
{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:hover
{
    width: 200px;
}
.social-wrapper .button .icon
{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:nth-child(1):hover .icon
{
    background: #4267B2;
}
.social-wrapper .button:nth-child(2):hover .icon
{
    background:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.social-wrapper .button:nth-child(3):hover .icon
{
    background: #505255;
}
.social-wrapper .button:nth-child(4):hover .icon
{
    background:#000;
}
.social-wrapper .button:nth-child(5):hover .icon
{
    background: #ff0000;
}
.social-wrapper .button .icon i
{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:hover .icon i
{
    color: #fff;
}
.social-wrapper .button span
{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}
.social-wrapper .button:nth-child(1) span
{
    color: #4267B2;
}
.social-wrapper .button:nth-child(2) span
{
    color: #E1306C;
}
.social-wrapper .button:nth-child(3) span
{
    color: #505255;
}
.social-wrapper .button:nth-child(4) span
{
    color: #000;
}
.social-wrapper .button:nth-child(5) span
{
    color: #ff0000;
}



/*footer*/

.footer
{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B244E;
    color: #fff;
    text-align: center;
}
/*calendar*/



:root {
  --color-accent: #0B244E;
  --background-color: #f8f7fa;
  --foreground-color: #ffffff;
  --text-color: #19181a;
  --highlight-text-color: var(--text-color);
  --active-text-color: #f8f7fa;
  --inactive-text-color: #a5a5a5;
  --btn-bg: #f8f7fa;
  --box-shadow: #efefef;

  --border-width: 1px;
  --border-radius: 15px;
  --spacing: 18px;
}

.card {
  width: 316px;
  height: fit-content;
  background-color: var(--foreground-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px var(--box-shadow);
}

.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 15px;
  border-bottom: var(--border-width) solid var(--box-shadow);
}

.calendar-toolbar > .current-month {
  font-size: 20px;
  font-weight: bold;
  color: var(--highlight-text-color);
}

.calendar-toolbar > [class$="month-btn"] {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: var(--highlight-text-color);
  background: var(--btn-bg);
  border: none;
  border-radius: var(--border-radius);
}

.weekdays,
.calendar-days {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--spacing);
}
.weekdays {
  padding-top: 12px;
}
.calendar-days {
  padding-bottom: 12px;
}

.weekday-name,
[class$="-day"] {
  width: 40px;
  height: 40px;
  color: var(--text-color);
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  font-size: 1rem;
}

.weekday-name {
  color: var(--highlight-text-color);
  font-weight: 700;
}

.current-day {
  background-color: var(--color-accent);
  color: var(--active-text-color);
  border-radius: var(--border-radius);
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.padding-day {
  color: var(--inactive-text-color);
  user-select: none;
}

.calendar-toolbar > [class$="month-btn"]:hover,
.month-day:hover,
.btn:hover {
  border-radius: var(--border-radius);
  background-color: var(--btn-bg);
  color: var(--color-accent);
  border-radius: var(--border-radius);
  transition: 0.1s;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1.5px var(--color-accent);
}

.calendar-toolbar > [class$="month-btn"]:focus,
.month-day:focus,
.btn:focus {
  border-radius: var(--border-radius);
  background-color: var(--color-accent);
  color: var(--active-text-color);
}

.goto-buttons {
  border-top: var(--border-width) solid var(--box-shadow);
  padding: var(--spacing) 0;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background: var(--btn-bg);
  border: none;
  border-radius: var(--border-radius);
  padding: 11px 13px;
  color: var(--highlight-text-color);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 1px;
  box-shadow: 0px 0px 0px var(--box-shadow);
}

/*slide event*/
.container
{
    max-width: 1500px;
    max-height: 1500px;
    width: 95%;
}
.slider-wrapper
{
    position: relative;
}
.slider-wrapper .slide-button
{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #0B244E;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover
{
    background: #fff;
    color: #0B244E;
}
.slider-wrapper .slide-button#prev-slide
{
    left: -20px;
    display: none;
}
.slider-wrapper .slide-button#next-slide
{
    right: -20px;
}
.slider-wrapper .image-list
{
    display: grid;
    gap: 10px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar
{
    display: none;
}
.slider-wrapper .image-list .image-item
{
    width: auto;
    height: 400px;
    object-fit: cover;
}
.container .slider-scrollbar
{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track
{
    height: 2px;
    width: 100%;
    background: #fff;
    position: relative;
    border-radius: 4px;
    align-items: center;

}
.slider-scrollbar:hover .scrollbar-track
{
    height: 4px;
}
.slider-scrollbar .scrollbar-thumb
{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #0B244E;
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active
{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
.icon
{
    color: #0B244E;
}
.button a
{
    text-decoration: none;
}
